

@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --primary-color: #000000;
    --primary-light: #ffffff;
    --muted-gray: #A7A7A7;
    --container-background: #f9f9f9;
    --heading-font: "Open Sans", italic;
    --body-font: "Open Sans", italic;
    --link-fonts: "Open Sans", italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

header{
    margin-top: 2rem;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.header-image-container img{
    transition: opacity 0,3s ease-in-out;
}

.profile-picture{
    width: 6,25rem;
    height: 6,25rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile{
    flex: 1;
}



@media (max-width: 480px){
    .container{
        width: 100%;
        padding: 1rem;
        max-width: 100vw;
        overflow-x: hidden;
        line-height: 1.5;
        font-size: 1.05rem;
        
    }
}